@media screen and (max-width:719px){
    .navbar{
    height: 180px;
    text-align: center;
    flex-direction: column;
    transition: all 0.7s ease-in-out;
    }
    .navbar ul li{
        padding: 0 1vh;
        margin: 10px;
    }
    .navbar ul{
        flex-direction: column;
        transition: all 0.7s  ease-in-out;
    }
    .burger{
        display: block;
    }
    .burger-nav{
        height: 22px;
    }
}